## .NET
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.nupkg
*.snupkg

# 忽略根目录的 dll/exe，但保留 publish 目录下的
/*.dll
/*.exe

## VS Code
.vscode/

## Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Publish output
# publish/  # 注释掉，让用户可以直接下载使用
*.log
